{% extends "app/layout.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% block content %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>BaoBaoWorld世界寶寶</h2>
    {% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>
    {% endfor %}
    

    {% if request.user.is_authenticated %}
  
    <p>Hi {{request.user}}, 歡迎您!</p>


    <a href="{% url 'logout' %}">登出</a>
    <br />
    <br />
    {% for active,ed_date in active_info %}
    <p>您的啟動碼: {{active}}</p>
    <p>啟動碼到期日: {{ed_date}} 23:59:59</p>
    <a href={{cust_url}}>寶寶的專屬位址 </a>
    <br />
    <br />
    <h4><font color="#FF0000">備註1: 因自訂寶寶的專屬網址不可重複,故您每一次有更新,請都要給一個全新的專屬網址</font></h4>
    <h4><font color="#FF0000">備註2: 儲存完後請開新分頁再次進入頁，專屬網址就會正確更新。(非F5重整)</font></h4>
    <br />
    <br />
    {% endfor %}

    {% if if_active == 'Y' %}
    <form action=""  enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br />
        <input class="btn btn-primary" type="submit" value="儲存" />
     </from>
     {% else %}
     <p>您尚未擁有啟動碼!! 若是您已購買,請稍後,24h內會為您開通 </a></p>
     <p>哪裡購買啟動碼? 這裡: <a href="">蝦皮</a></p>
     {% endif %}
    <br />
    <br />
     {% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        <br />
        <br />
        {{ message }}

        </div>
        {% endfor %}

        
        {% else %}
      
        <p>您尚未登入哦 <a href="/accounts/login/">登入</a></p>
        <p>還沒有帳號嗎? <a href="{% url 'Register' %}">註冊</a></p>
        {% endif %}
        <br />
        <br />

</body>
</html>
    {% endblock %}
