
	    <!DOCTYPE html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Lovely - 瑞真 & 廢物</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Facebook and Twitter integration -->
            <meta property="og:title" content="" />
            <meta property="og:image" content="" />
            <meta property="og:url" content="" />
            <meta property="og:site_name" content="" />
            <meta property="og:description" content="" />
            <meta name="twitter:title" content="" />
            <meta name="twitter:image" content="" />
            <meta name="twitter:url" content="" />
            <meta name="twitter:card" content="" />

            <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- Animate.css -->
            <link rel="stylesheet" href="css/animate.css">
            <!-- Icomoon Icon Fonts-->
            <link rel="stylesheet" href="css/icomoon.css">
            <!-- Bootstrap  -->
            <link rel="stylesheet" href="css/bootstrap.css">

            <!-- Magnific Popup -->
            <link rel="stylesheet" href="css/magnific-popup.css">

            <!-- Owl Carousel  -->
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="css/owl.theme.default.min.css">

            <!-- Theme style  -->
            <link rel="stylesheet" href="css/style.css">

            <!-- Modernizr JS -->
            <script src="js/modernizr-2.6.2.min.js"></script>
            <!-- FOR IE9 below -->
            <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
            <![endif]-->

        </head>
        <body>
	
	    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(media/688A0CFD-8256-44CF-829C-D21F24AEBDB1.png);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>瑞真 &amp; 廢物</h1>
                            <h2>攜手共度</h2>
                            <div class="simply-countdown simply-countdown-countup"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Love!</h2>
                    <h3>2022-06-21</h3>
                    <p>我愛你 寶寶</p>
                </div>
            </div>
            <div class="couple-wrap animate-box">
                <div class="couple-half">
                    <div class="groom">
                        <img src="C:/baobaoworld/baobao/baobao/media/images/A63B852C-1793-4B1F-9781-8EDEC6755379.png" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-groom">
                        <h3>瑞真</h3>
                        <p>非常可愛 很瘦小</p>
                        
		<a href="fuck"><i class="fa fa-instagram" style="font-size:36px"></i></a>
		
                    </div>
                </div>
                <p class="heart text-center"><i class="icon-heart2"></i></p>
                <div class="couple-half">
                    <div class="bride">
                        <img src="C:/baobaoworld/baobao/baobao/media/images/bigthing1_qUoxQf8.png" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                        <h3>廢物</h3>
                        <p>很廢物</p>
                        
		<a href="https://www.instagram.com/arleigh__/"><i class="fa fa-instagram" style="font-size:36px"></i></a>
		
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>相親相愛的寶</span>
					<h2>Our Story</h2>
					<p>寶寶攜手共度</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
    
        <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(images/love.png);"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="timeline-title">我們再一起!!!</h3>
                    <span class="date">2022-07-01</span>
                </div>
                <div class="timeline-body">
                    <p>我們再一起了!!!!</p>
                </div>
            </div>
        </li>
        
        <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(images/love-plant.png);"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="timeline-title">很添柴</h3>
                    <span class="date">2022-07-01</span>
                </div>
                <div class="timeline-body">
                    <p>love BAO</p>
                </div>
            </div>
        </li>
        
        <li class="animate-box">
            <div class="timeline-badge" style="background-image:url(images/love-letter.png);"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="timeline-title">大聰明</h3>
                    <span class="date">2022-07-02</span>
                </div>
                <div class="timeline-body">
                    <p>大聰明瘦小</p>
                </div>
            </div>
        </li>
        
        <li class="timeline-inverted animate-box">
            <div class="timeline-badge" style="background-image:url(images/love-birds.png);"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="timeline-title">分手囉</h3>
                    <span class="date">2022-07-03</span>
                </div>
                <div class="timeline-body">
                    <p>愛情結束</p>
                </div>
            </div>
        </li>
        
    </ul>
				</div>
				
			</div>
		</div>
	</div>
    
    <div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Baobao Lovely pictures</h2>
					<p>閃蝦大家的寶寶照</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
    
        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(C:/baobaoworld/baobao/baobao/media/images/1163FAB8-C85E-4951-810A-D30E9559B51D.png); ">

                <div class="case-studies-summary">
                    
                </div>
    
        </li>
        
        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(C:/baobaoworld/baobao/baobao/media/); ">

                <div class="case-studies-summary">
                    
                </div>
    
        </li>
        
        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(C:/baobaoworld/baobao/baobao/media/); ">

                <div class="case-studies-summary">
                    
                </div>
    
        </li>
        
        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(C:/baobaoworld/baobao/baobao/media/); ">

                <div class="case-studies-summary">
                    
                </div>
    
        </li>
        
        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(C:/baobaoworld/baobao/baobao/media/); ">

                <div class="case-studies-summary">
                    
                </div>
    
        </li>
        
        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(C:/baobaoworld/baobao/baobao/media/); ">

                <div class="case-studies-summary">
                    
                </div>
    
        </li>
        
    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="js/jquery.countTo.js"></script>

    <!-- Stellar -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>

    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
    <script src="js/simplyCountdown.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>

    <script>
    var d = new Date(new Date().getTime() - 81166);
    
	// default example
	// direct element injection & Count Up Example
	var countUp = document.querySelector('.simply-countdown-countup');
    simplyCountdown(countUp, {
	year: d.getFullYear(),
	month: d.getMonth(),
	day: d.getDate(),
	countUp: true
    });</script>
    </body>
    </html>
    